apdev-customerinformation/src/main/app/apdev-customerinformation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="getCustomerDetailsFlow">
        <set-payload value="{
Title:MR,
FirstName:Satish,
lastName:Vattikulla,
middleName:Chander,
shortName:VSC,
displayName:VS
}" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="getDebitCardDetailsFlow">
        <set-payload value="{cardNumber: 4513 0000 1234 4567,AccountNumber:7415529885,accountBalance:100000}" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="getCreditcardDetailsFlow">
        <set-payload value="{cardNumber:4156 0345 1234 9875,CurrentBalance:45000,OutstandingBalance:25000
}" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="apdev-customerinformationFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/CustDetails" allowedMethods="GET" doc:name="HTTP" doc:description="6. Create a flow using Scatter Gatter."/>
        <scatter-gather doc:name="Scatter-Gather">
            <flow-ref name="getCustomerDetailsFlow" doc:name="getCustomerDetailsFlow"/>
            <flow-ref name="getDebitCardDetailsFlow" doc:name="getDebitCardDetailsFlow"/>
            <flow-ref name="getCreditcardDetailsFlow" doc:name="getCreditcardDetailsFlow"/>
        </scatter-gather>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
flatten payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
