apdev-customerinformation/src/main/app/task2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="task2Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/task2" allowedMethods="POST" doc:name="HTTP" doc:description="2. Use Input1 json file and display all the keys(username,firstname) etc using dataweave. "/>
        <dw:transform-message metadata:id="6f4a8317-6e03-44dd-a887-28212e941c20" doc:name="Transform Message">
            <dw:input-payload doc:sample="C:\Users\satishchander.v\Downloads\Hands-On_1\Hands-On_1\Input1.js" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/dw
 ---
payload map ((value,index) -> 
	(value mapObject {
     '$$':$$
 }) joinBy ",") ]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
