apdev-customerinformation/src/main/app/task4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="task4Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/task4" allowedMethods="POST" doc:name="HTTP" doc:description="4. Use Input3 json file and display all the non-null values using dataweave. "/>
        <dw:transform-message metadata:id="8ac97633-7eff-410e-b289-7b7bc6736f95" doc:name="Transform Message">
            <dw:input-payload doc:sample="C:\Users\satishchander.v\Downloads\Hands-On_1\Hands-On_1\Input3.js" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json skipNullOn="everywhere"

---
//payload  filter ($ != null) This prints only values
payload
]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
