apdev-customerinformation/target/classes/apdev-filters.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="apdev-filtersFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/filters" allowedMethods="POST" doc:name="HTTP"/>
        <idempotent-message-filter idExpression="#[xpath3('/messagebody/Header/msgid')]" doc:name="BlockDuplicateMsgID"/>
        <logger message="successful" level="INFO" doc:name="Logger"/>
        <set-payload value="completed" doc:name="Set Payload"/>
    </flow>
</mule>
