apdev-customerinformation/target/classes/task5.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="task5Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/task5" allowedMethods="POST" doc:name="HTTP" doc:description="5. Use Input4 json file and display all the values except docId. "/>
        <dw:transform-message metadata:id="7bbe6da8-d1d4-433a-a73f-f6bae715a43a" doc:name="Transform Message">
            <dw:input-payload doc:sample="C:\Users\satishchander.v\Desktop\MuleSoft-\Hands-On_1 (2)\Hands-On_1\Input4.js" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%var details1 = payload.details - "docId"
%var status = payload
---
{
status: payload.status,
statusCode: payload.statusCode,
statusDescription: payload.statusDescription ,
details: payload.details - "docId"

}]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
